// @import '@/styles/colors.scss';
@use '@/styles/colors.scss' as colors;
// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');




// Цвет для лоадов
.load_cancelled {
    background-color: colors.$load_cancelled
}

;

.load_performed {
    background-color: colors.$load_performed
}

;

.load_ready {
    background-color: colors.$load_ready
}

;

.load_planed {
    background-color: colors.$load_planed
}

;

.load_prepared {
    background-color: colors.$load_prepared
}

;

.load_defected {
    background-color: colors.$load_defected
}

;

.load_draft {
    background-color: colors.$load_draft;
}

.load_closed {
    background-color: colors.$load_closed;
}

.circle {
    width: 18px;
    height: 18px;
    border: colors.$border;
    border-radius: 50%;    
    display: flex;
    align-items: center;
    border: colors.$border;
}