@import '@/styles/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');



/***********
 * Контейнер
 ***********/
.container {
  margin: 10px 0;
  padding: 10px;
  background-color: #f8f7f2;
  /* Светлый бежево-серый фон */
  border: 1px solid #ccc;
  border-radius: 6px;
  width: fit-content;
}


/* Задаём индивидуальную ширину колонок */
._table thead th:nth-child(1) {
  width: 80px;  
}

._table thead th:nth-child(2) {
  width: 200px;  
}

._table thead th:nth-child(3) {
  width: 50px;  
}
._table  td:nth-child(3) {
  text-align: center;    
}

._table thead th:nth-child(4) {
  width: 70px;  
}

.icon_bill{
  cursor: pointer;
}