// @import '@/styles/colors.scss';
@use '@/styles/colors.scss' as colors;
// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');


.interval {
    font-size: 12px;
    position: absolute;
    height: 20px;
    margin: 20px 0;
    z-index: 1;
    border: 1px solid #ccc;
    border-radius: 10px;
    /* Центрируем текст вертикально и горизонтально */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px; // ширина лоада
  }
  
  .cancelled {
    background-color: colors.$load_cancelled;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.15);
  }
  
  .performed {
    background-color: colors.$load_performed;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.15);
  }
  .ready {
    background-color:colors.$load_ready;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.15);
  }
  
  .planed {
    background-color: colors.$load_planed; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.15);
  }
  
  .prepared {
    background-color: colors.$load_prepared;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.15);
  }
  
  .defected {
    background-color:  colors.$load_defected;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.15);
  }
  
  .draft {
    background-color: colors.$load_draft;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.15);
  }
      
  .retool {
    background-color: rgb(241, 241, 241);
    height: 14px;
    margin: 23px 0;
  }
  
  .lighted {  
    box-shadow: 0 4px 6px rgba(255, 255, 0, 0.7), 0 1px 3px rgba(255, 255, 0, 0.6);
  }

// /* Треугольник слева (указывает влево) */
// .triangleLeft {
//   position: absolute;
//   top: 62%; /* можно скорректировать для вертикального центрирования */
//   left: -5px;  /* отступ от тела */
//   transform: translateY(-50%);
//   width: 0;
//   height: 0;
//   border-top: 7.5px solid transparent;
//   border-bottom: 7.5px solid transparent;  
//   z-index: 2;
//   border-right: 7.5px solid colors.$border-color;
//   right: 2px; /* отступ справа */
// }


// /* Треугольник справа (указывает вправо) */
// .triangleRight {
//   position: absolute;
//   top: 62%; /* можно скорректировать для вертикального центрирования */
//   left: 27px;  /* отступ от тела */
//   transform: translateY(-50%);
//   width: 0;
//   height: 0;
//   border-top: 7.5px solid transparent;
//   border-bottom: 7.5px solid transparent;
//   z-index: 2;
//   border-left: 7.5px solid colors.$border-color;
// }
