@import '@/styles/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

// .container_tCardProduct {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     width: 240px;
//     height: auto;
//     margin: 5px;
//     border-radius: 10px;
//     /* Скругленные углы */
//     background-color: #f0f0f0;
//     /* Светло-серый фон */
//     border: 1px solid #ccc;
//     /* Равномерная серая граница */
//     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
//     /* Легкая тень для глубины */
//     transition: box-shadow 0.3s ease;
//     /* Плавный переход для эффекта при наведении */
//     // position: relative;
//      padding: 2px;
//     // padding: 17px 2px 2px 2px;
//     // background-color: aqua;
//     // height: 100px;
//     font-size: 12px;    
// }

.tCardProduct_title,
.tCardProduct_code,
.tCardProduct_qtu,
.tCardProduct_uom,
.tCardProduct_status
 {
    align-items: center;
     padding: 5px;   
     text-align: end;
     font-size: $header4_font_size;
}
.tCardProduct_title{
    width: 100px;
    //  background-color: antiquewhite;    
    text-align: start;
    font-weight: bold;   
}
.tCardProduct_code{
    width: 100px;    
    text-align: start;
    font-weight: bold;   
    //  background-color: aqua;
}


.tCardProduct_qtu{
    min-width: 50px;
    // background-color: azure;
    
}
.tCardProduct_uom{
    width: 34px;      
    
    // background-color: rgb(255, 205, 226);
    text-align: center;
}
.tCardProduct_status{
    
    width: 20px;      
    padding: 3px 0;
    //  background-color: rgb(165, 197, 136);
}


.icon_del{
width: 20px;
height: 20px;
    cursor: pointer;
}

.container_row{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    // background-color: aquamarine;
    width: 100%;
}
.container_buttons_row{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    border-top: 1px solid #ccc; /* Серая граница */
    // background-color: aquamarine;
    width: calc(100% - 4px);
    // position: absolute;
    // right: 0;
    // top: 0;
    overflow: hidden;
}
.container_icon_edit_save{
     display: flex;
     flex-direction: row;
     align-items: center;   
     cursor: pointer;   
}
.icon_edit_save{       
    border-top-left-radius: 5px;
}