@import '@/styles/colors.scss';
// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');


/***********
 * Контейнер
 ***********/
.container {
  width: 100%;
  min-height: calc(100vh - 115px);
  // background-color: aqua;
}

.table_container {
  margin: 10px 0;
  padding: 10px;
  background-color: $main_container_background_color;
  border: 1px solid $container_border_color;
  border-radius: 6px;
  width: fit-content;
}

/* Задаём индивидуальную ширину колонок */
._table thead th:nth-child(1) {
  width: 5px;
  /* Первая колонка для кнопки расширения */
}

._table thead th:nth-child(2) {
  width: 320px;
  /* Вторая колонка "Карта, Операция" */
}

._table thead th:nth-child(3) {
  width: 100px;
  /* Третья колонка "Статус" */
}

._table thead th:nth-child(4) {
  width: 150px;
  /* Четвёртая колонка "Срок готовности" */
}

._table thead th:nth-child(5) {
  width: 50px;
  /* Четвёртая колонка "Срок готовности" */
}

._table tbody td:nth-child(5) {
  width: 50px;
  text-align: center;
}

._table tbody td:nth-child(5) {
  width: 50px;
  text-align: center;
}

.operation_title {
  text-indent: 15px;
  font-style: italic;
  color: $text_color_italic;
}

.operation_row {
  font-style: italic;
  color: $text_color_italic;
}

.status {
  border-radius: 5px;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.draft {
  background-color: $load_draft;
}
.prepared {
  background-color: $load_prepared;
}
.planed {
  background-color: $load_planed;
}

.ready {
  background-color: $load_ready;
}

.defective {
  background-color: $load_defected;
}

.performed {
  background-color: $load_performed;
}

.cancelled {
  background-color: $load_cancelled;
}

.closed {
  background-color: $load_closed;
}

.status_row {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;

}

.expand_row {
  cursor: pointer;
  text-align: center;
}


.loader_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 510px);
  flex-direction: column;
  // background-color: antiquewhite;
}

.table_filter{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  
  text-indent: 15px;
  font-style: normal;
  color: $third_text_color;
  margin: 10px;
}


