// @import '@/styles/colors.scss';
@use '@/styles/colors.scss' as colors;
// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

.container {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    height: auto;
    margin: 5px;
    background-color: colors.$main_container_background_color;
    border-radius: colors.$border-radius;
    border: colors.$border;
    box-shadow: colors.$box-shadow;
    transition: box-shadow 0.3s ease;
    padding: 5px;
    position: relative;
    color: colors.$second_text_color;
    font-size: colors.$header4_font_size;
}

.field_container {
    width: 100%;
    padding-bottom: 5px;
    // border-bottom: colors.$border;
    justify-content: center;
}

.time_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;    
    padding-bottom: 5px;    
}

.time_input {  
    font-size:  colors.$header4_font_size;
    font-weight: bold;
    width: 80px;
}

.title {
    margin-top: 5px;
    padding: 2px;
    font-size: colors.$header4_font_size;
    font-weight: bold;
    // min-width: 202px;
    text-align: center;
    width: 100%;
}

.input_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.container_buttons_row {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;    
    width: calc(100% - 4px);    
    overflow: hidden;
    border-top: colors.$border;
    padding-top: 2px;
}

.container_icon_edit_save {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.icon_edit_save {
    border-top-left-radius: 5px;
}

.icon_cancel {
    border-radius: 10px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    // width: 24px;
    // height: 24px;
}