@import '@/styles/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

//ok
.plan_scale_container {
  display: flex;
  flex-direction: row;
  height: 100%;
  // width: calc(100% - 40px);
  // margin: 20px;
  // background-color: rgb(211, 151, 61);
  // background-color: #f0f0f0;
  /* Светло-серый фон */
  // border-bottom: 1px solid #ccc;

}

.plug {
  height: 82px;
  width: 100%;
  // background-color: cadetblue;
}

.plan_scale_container_right {
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-bottom: 0;
  width: 140px;
  min-width: 140px;
  // background-color: aliceblue;
  padding: 10px;
  // padding-top: 85px; // верхняя граница шкалы

}

.plan_scale_container_left {

  display: flex;
  flex-direction: column;
  width: calc(100% - 200px);

  margin-right: 20px;
  // background-color: rgb(245, 243, 240);
  background-color: #f0f0f0;
  /* Светло-серый фон */
  border-bottom: 1px solid #ccc;
  /* Граница снизу */

  /* Граница справа */
  // background-color: aliceblue;
}

//ok
.scale_container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-top: 10px;
  // background-color: rgb(223, 182, 130);

}

//ok
.timeline {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  height: 100%;
  transform-origin: 0% 0%;
  // background-color: rgb(172, 155, 133);
  user-select: none;
}

.pl_container_scale1 {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 0;
  height: 100%;
  transform-origin: 0% 0%;
}

.timeScaleMes,
.timeScaleDay,
.timeScaleHour,
.timeScaleMin {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.timeScaleMes {
  border-left: 1px solid #ccc;
  height: 100%;
}

.timeScaleDay {
  border-left: 1px solid #bbb;
  height: 100%;
}

.timeScaleHour {
  border-left: 1px solid #aaa;
  height: 100%;
}

.timeScaleMin {
  border-left: 1px solid #999;
  height: 100%;
}

.timeScaleMes span,
.timeScaleDay span,
.timeScaleHour span,
.timeScaleMin span {
  font-size: 10px;
  text-align: center;
  margin-top: 5px;
}

.scale_controls {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.rangeSlider {
  width: 100%;
  height: 10px;
  background: #ddd;
  border-radius: 5px;
  -webkit-appearance: none;
  /* Префикс для Webkit браузеров (Chrome, Safari) */
  -moz-appearance: none;
  /* Префикс для Firefox */
  appearance: none;
  /* Стандартное свойство для совместимости с другими браузерами */
  outline: none;
}


.rangeSlider[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: #333;
  border-radius: 50%;
  cursor: pointer;
}

.rangeSlider[type="range"]:focus {
  outline: none;
}

.timeline_markers {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  background-color: rgb(175, 159, 159);
}

.marker {
  position: relative;
  bottom: 0;
  width: 20px;
  height: 100%;
  // background-color: black;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: aqua;
}

.marker span {
  font-size: 12px;
  transform: rotate(90deg);
  /* Разворачиваем текст вертикально */
  margin-bottom: 5px;
}


.today_scale {
  position: absolute;
  left: 0;
  top: 0;
  border-left: 2px solid #ec0505;
  height: 1000%;
  //  background-color: rgb(238, 16, 16);
  width: 1px;
  z-index: 22;
}

//  Временная шкала часы
/* Пример CSS для выделения времени */
.timeBlock {

  display: flex;
  flex-direction: column;
  // background-color: rgb(235, 222, 222);


}

.workTime {
  background-color: rgb(208, 226, 208);
  /* Задайте цвет для рабочего времени */
}

.breakTime {
  background-color: rgb(235, 224, 205);
  /* Цвет для перерывов */
}

.nonWorkTime {
  background-color: rgb(255, 255, 255);
  /* Цвет для выходного времени */
}

// Это шрифт для временной шкалы
.timeLabel {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // color: rgb(114, 26, 196);
  font-size: 10px;
  font-family: Arial, sans-serif;
  text-align: center;
  // background-color: salmon;
  // border-left: 1px solid #3a1ce2;
  height: 100%;
}

/* Риска для 4 часов, будет такой же, как для 1 часа, но по частоте */
.interval4hours {
  // position: absolute;
  // left: 0;
  // top: 0;
  // width: 1px;
  height: 66px;
  // background-color: #555;  /* Та же, что и для часового интервала */
  border-left: 1px solid #555;
}

//ok
.day_scale {


  height: 100%;
  // background-color: rgb(224, 173, 173);
  position: relative;
  display: flex;
  flex-direction: column;
  position: relative;

  // border-bottom: 1px solid #ccc;
  /* Граница снизу */

  /* Граница справа */
}

.day_title {
  height: 30px;
  border-left: 1px solid rgb(0, 0, 0);
  padding-left: 3px;
}

.time_container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  // background-color: rgb(173, 224, 180);
}


.timeScale {
  width: 100%;
  height: 20px;
}


/* Основной стиль для временной метки */
.timeLabel {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 12px;
  color: black;
  padding-left: 1%;
}

/* Риска для 5 минут */
.interval5min {
  position: relative;
  // height: 10px;
  height: 100%;
  // background-color: #ccc;  /* Светло-серая */
  // background-color: #ffffff;  /* Светло-серая */  
  border-left: 1px dashed #999;
}

/* Риска для 30 минут */
.interval30min {
  position: relative;
  // height: 20px;
  height: 100%;
  // background-color: #999;  /* Более темная серая */

  border-left: 1px solid #999;
}


.interval1hour {
  position: relative;
  // height: 40px;
  height: 100%;
  // background-color: #555;  /* Та же, что и для часового интервала */

  border-left: 1px solid #555;
}

/* Риска для 4 часов, будет такой же, как для 1 часа, но по частоте */
.interval4hours {
  position: relative;
  height: 100%;
  // background-color: #555;  /* Та же, что и для часового интервала */
  border-left: 1px solid #020202;


}


///// UNITS
/// 
.unit_name {
  margin: 10px;
  width: 100%;
  // padding-left: 10px;
  // background-color: rgb(235, 228, 137);
  min-height: 30px;
  font-weight: bold;

}

.units_title {
  margin: 10px;
  width: 100%;
  // padding-left: 10px;
  // background-color: rgb(235, 228, 137);
  min-height: 30px;
  font-weight: lighter;

}

// .unit_load_draft {
//   position: relative;
//   margin-top: 30px;
//   width: 100%;
//   background-color: rgb(172, 169, 132);
//   min-height: 20px;
//   // font-weight: bold;    
// }

// .interval_planned {
//   font-size: 12px;
//   position: absolute;
//   /* Позиционируем элемент на шкале */
//   background-color: rgb(172, 169, 132);
//   height: 20px;
//   /* Увеличиваем высоту блока для лучшего отображения */
//   // width: 60px;  /* Устанавливаем ширину */
//   z-index: 1;
//   border: 1px solid #ccc;
//   border-radius: 10px;

//   /* Центрируем текст внутри блока */
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   /* Добавляем выпуклый эффект */
//   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.15);
// }

// .interval_draft {
//   font-size: 12px;
//   position: absolute;
//   background-color: rgb(172, 169, 132); 
//   height: 20px;
//   // width: 40px;
//   z-index: 1;
//   border: 1px solid #ccc;
//   border-radius: 10px;

//   /* Центрируем текст вертикально и горизонтально */
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   /* Добавляем выпуклый эффект */
//   box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.15);
// }

.interval {
  font-size: 12px;
  position: absolute;
  height: 20px;
  z-index: 1;
  border: 1px solid #ccc;
  border-radius: 10px;
  /* Центрируем текст вертикально и горизонтально */
  display: flex;
  justify-content: center;
  align-items: center;
}

.contextMenu {
  font-size: 12px;
  position: absolute;
  height: 60px;
  z-index: 10;
  background-color: #ec0505;
  top: 20px;
  border-radius: 10px;
}

.planed {
  background-color: rgb(172, 169, 132);
  /* Добавляем выпуклый эффект */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.15);

}

.draft {
  background-color: rgb(219, 218, 204);
  /* Добавляем выпуклый эффект */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.15);
}

.prepared {
  background-color: rgba(107, 170, 7, 0.753);
  /* Добавляем выпуклый эффект */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.15);
}

.faulty {
  background-color: rgb(255, 143, 79);
  /* Добавляем выпуклый эффект */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.15);
}

.retool {
  background-color: rgb(241, 241, 241);
  height: 14px;
  margin: 3px 0;
}

.current {
  background-color: rgb(235, 221, 73);
}

.unit_load {
  margin-top: 30px;
  width: 100%;
  background-color: rgb(119, 116, 69);
  min-height: 20px;
  // font-weight: bold;    
}

.unit_unload {
  position: relative;
  margin-top: 30px;
  width: 100%;
  // background-color: rgb(255, 251, 199);
  min-height: 20px;
  // font-weight: bold;    
}

.unit_gap {
  margin-top: 30px;
  width: 100%;
  //  background-color: rgb(243, 222, 182);
  min-height: 20px;
  // font-weight: bold;    
}