@import '@/styles/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

.container_tCardProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    height: auto;
    margin: 5px;
    border-radius: 10px;
    /* Скругленные углы */
    background-color: #f0f0f0;
    /* Светло-серый фон */
    border: 1px solid #ccc;
    /* Равномерная серая граница */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Легкая тень для глубины */
    transition: box-shadow 0.3s ease;
    /* Плавный переход для эффекта при наведении */
    position: relative;
    padding: 5px;
    // background-color: aqua;
    // height: 100px;
}

.tCardProduct_title,
.tCardProduct_code,
.tCardProduct_qtu,
.tCardProduct_uom
 {
    align-items: center;
     padding: 5px;   
     padding-left: 2px;
     text-align: end;
     height: 22px;
}
.tCardProduct_title{
    text-align: start;
}
.tCardProduct_qtu{
     min-width: 50px;  
}
.tCardProduct_code{
    min-width: 50px;    
    text-align: start;
    font-weight: bold;   
}

.icon_del{
width: 20px;
height: 20px;
    cursor: pointer;
}

.container_row{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    // background-color: aquamarine;
    width: 100%;
    margin-bottom: 2px;
    
}
.container_icon_edit_save{
     display: flex;
     flex-direction: row;
     align-items: center;   
    cursor: pointer;   
}
.icon_edit_save{       
    border-top-left-radius: 5px;
}


//------inputs---------

.tCardProduct_title {
    flex: 1; /* Каждый инпут занимает равное пространство */
    // margin: 0 5px; /* Отступы между инпутами */
    padding: 2px; /* Внутренние отступы для инпутов */
    border: 1px solid #ccc; /* Серая граница для инпутов */
    border-radius: 4px; /* Скругленные углы */
    font-size: 12px; /* Размер шрифта */
    font-weight: bold; /* Жирный текст для кода */
    width: 30%;
}

.tCardProduct_title:focus {
    // border-color: #007bff; /* Синий цвет границы при фокусе */
    outline: none; /* Убираем стандартное выделение */
}

.tCardProduct_qtu {
    -moz-appearance: textfield; /* Убираем стрелки для числового инпута в Firefox */
    -webkit-appearance: none;  /* Убираем стрелки для числового инпута в Chrome, Safari */
    appearance: none;          /* Стандарт для других браузеров */
    padding: 2px; /* Внутренние отступы для инпутов */
    border: 1px solid #ccc; /* Серая граница для инпутов */
    border-radius: 4px; /* Скругленные углы */
    font-size: 12px; /* Размер шрифта */
    font-weight: bold; /* Жирный текст для кода */
    width: 10%;
}

/* Дополнительно, для удаления стрелочек на мобильных устройствах (например, на iOS) */
.tCardProduct_qtu::-webkit-outer-spin-button,
.tCardProduct_qtu::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.tCardProduct_title[type="number"]::-webkit-outer-spin-button,
.tCardProduct_title[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; /* Убираем стрелки для числового инпута в Chrome */
}

.message{
    font-size: 12px; /* Размер шрифта для информации о времени */
    color: #666; /* Светло-серый цвет для дополнительной информации */    
    text-align: center;    
    width: 100%;
    color: red;
}