@import '@/styles/colors.scss';
// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 310px;
    height: auto;
    min-height: 24px;
    margin: 5px;
    background-color: $main_container_background_color;
    border-radius: $border-radius;
    border: $border;
    box-shadow: $box-shadow;
    transition: box-shadow 0.3s ease;
    padding: 5px;
    position: relative;
    color: $second_text_color;
    font-size: $header4_font_size;
}


.tCardProduct_title,
.tCardProduct_qtu,
.tCardProduct_uom
 {
    align-items: center;
     padding: 5px;   
     text-align: end;
}
.tCardProduct_title{
    min-width: 130px;
    // background-color: antiquewhite;    
    text-align: start;
    font-weight: bold;   
}
.tCardProduct_qtu{
    min-width: 50px;
    // background-color: azure;
    
}
.tCardProduct_uom{
    min-width: 54px;      
    text-align: start;
    // background-color: blanchedalmond;
}


.icon_del{
width: 20px;
height: 20px;
    cursor: pointer;
}

.container_row{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    // background-color: aquamarine;
    width: 100%;
}
.container_buttons_row{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    border-top: 1px solid #ccc; /* Серая граница */
    // background-color: aquamarine;
    width: calc(100% - 4px);
    // position: absolute;
    // right: 0;
    // top: 0;
    overflow: hidden;
}
.container_icon_edit_save{
     display: flex;
     flex-direction: row;
     align-items: center;   
     cursor: pointer;   
}
.icon_edit_save{       
    border-top-left-radius: 5px;
}

.message{
    font-size: 12px; /* Размер шрифта для информации о времени */
    color: #666; /* Светло-серый цвет для дополнительной информации */    
    text-align: center;    
    width: 100%;
    color: red;
}