// @import '@/styles/colors.scss';
@use '@/styles/colors.scss' as colors;
// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');


/***********
 * Контейнер
 ***********/

.container {

  margin: 10px;
  padding: 10px;
  background-color: colors.$main_container_background_color;
  border: 1px solid colors.$container_border_color;
  border-radius: 6px;
  color: colors.$second_text_color;
  width: 100%;
  min-height: calc(100vh - 110px);
  height:-webkit-fill-available;
}

.container_block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 5px;
  
  // @media screen and (max-width: 640px) {
  //   flex-direction: column;
  // }
}

.button_container {
  display: flex;
  justify-content: center;
  padding-left: 5px;
}



.label {
  display: flex;
  align-items: center;
  font-size: colors.$header3_font_size;
  color: colors.$second_text_color; 
}


.textAgreement {
  height: calc(100vh - 200px);
  font-size: colors.$header3_font_size; 
  color: colors.$second_text_color;
  border: colors.$border;
  width: 100%;
  resize: none;
  padding: 10px;
}
