// @import '@/styles/colors.scss';
@use '@/styles/colors.scss' as colors;
// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');


.container_context_menu {
  position: absolute;
  z-index: 10;
  top: 45px;
  width: 200px;
  border-radius: 10px;
  background-color: colors.$sidebar_background;
  box-shadow: colors.$box-shadow;
  transition: box-shadow 0.3s ease;
  padding: 3px;
  font-size: 12px;
  cursor: auto;
}

.icon_edit_save {
  cursor: pointer;
}

.container_icon {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: colors.$border;
  padding: 0 3px;
}

.coment {
  padding: 2px;
}

.title {
  padding: 2px;
  font-weight: bold;
  font-size: colors.$header4_font_size;
}

/* Треугольник сверху блока */
.contextMenuTriangle {
  position: absolute;
  top: -5.5px;
  left: 3.5px;
  width: 0;
  height: 0;
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
  border-bottom: 7.5px solid colors.$sidebar_background;
  /* цвет должен совпадать с фоном меню */
}

.work_date {
  width: 80px;
  height: 18px;
  padding: 0 2px;
  border: colors.$border;
  border-radius: colors.$border-radius;
  font-size: colors.$header4_font_size;
  font-weight: bold;
  // margin-left: 4px;
}

.work_time {
  width: 45px;
  height: 18px;
  padding: 0 2px;
  border: colors.$border;
  border-radius: colors.$border-radius;
  font-size: colors.$header4_font_size;
  font-weight: bold;

}

.work_date[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.work_date[type="date"] {
  -moz-appearance: textfield;
  appearance: none;
}

.work_time[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.work_time[type="time"] {
  -moz-appearance: textfield;
  appearance: none;
}

.save_container_icon {
  display: flex;
  flex-direction: row;
}