@import '@/styles/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    height: auto;
    margin: 5px;
    background-color: $main_container_background_color;
    border-radius: $border-radius;    
    border: $border;    
    box-shadow: $box-shadow;
    transition: box-shadow 0.3s ease;
    
    padding: 5px;
    position: relative;
    color: $second_text_color;
    font-size: $header4_font_size;
}
.table_container{
    width: 100%;
}
///////////////
._table{
    width: 100%;
    margin-bottom: 5px;
}
._table thead th:nth-child(1) {
    width: 29px;    
  }
._table thead th:nth-child(2) {
     width: 100%;    
  }
  ._table thead th:nth-child(3) {
    width: 80px;    
  }
  ._table tr td:nth-child(4) {
    width: 20px;
    text-align: center;    
  }

.icon_del {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.icon_del_top {
    height: 20px;
    min-width: 22px;
}


.container_buttons_row {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    border-top: $border;
    width: calc(100% - 4px);    
    overflow: hidden;
}

.container_icon_edit_save {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.icon_edit_save {
    border-top-left-radius: 5px;
}

.icon_cancel {
    border-radius: 10px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    // width: 24px;
    // height: 24px;
}