@import '@/styles/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');


.container {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: auto;
  margin: 5px;
  border-radius: 10px;
  /* Скругленные углы */
  background-color: #f0f0f0;
  /* Светло-серый фон */
  border: 1px solid #ccc;
  /* Равномерная серая граница */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* Легкая тень для глубины */
  transition: box-shadow 0.3s ease;
  /* Плавный переход для эффекта при наведении */
  // position: relative;
  // background-color: beige;
  overflow: hidden
}

.unit_load {
  position: relative;
  // margin-top: 20px;
  width: 100%;
  background-color: rgb(119, 116, 69);
  // min-height: 50px;
  padding: 10px 0;
  // font-weight: bold;    
}

.unit_unload {
  position: relative;
  // margin-top: 20px;  
  width: 100%;
  // background-color: rgb(255, 251, 199);
  // min-height: 50px;
  // font-weight: bold;    

  // border-bottom: 1px dashed #ccc;
}

.workTime {
  // background-color: rgb(208, 226, 208);
  background-color: rgb(216, 226, 216);
  /* Задайте цвет для рабочего времени */
}

.breakTime {
  background-color: rgb(235, 224, 205);

  /* Цвет для перерывов */
  // background-color: rgb(61, 10, 30)
}

.nonWorkTime {
  background-color: rgb(255, 255, 255);
  /* Цвет для выходного времени */
}

.title_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.bottom_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.title {
  margin: 10px;
  min-height: 30px;
  font-weight: lighter;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;

}
.bottom_line {
  margin: 1px;
    
  padding: 5px;
  font-size: 14px;
  font-weight: bold;

}

.timeLabel {
  position: absolute;
  // margin: 10px;
  // min-height: 30px;
  // font-weight: lighter;
  padding: 5px;
  font-size: 12px;
  // font-weight: bold;
  z-index: 2;
}

//////////////// открытая операция
/// 
.oper_container{
   background-color: rgb(241, 241, 241);
   display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
      
 
 .oper_title{
  font-size: 14px;  
  width: 100%;
  // display: flex;
  // justify-content: flex-start;
  // align-items: center;
  // flex-direction: column;
  // // overflow: hidden;
  // cursor: pointer;
 }
      
 .oper_content{
  font-size: 14px;  
  width: 100%;
  height: 100%;
  background-color: rosybrown;
 }

 .button_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0 10px;
 }

 .loader_container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  
 
}