@import '@/styles/colors.scss';
// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');


/***********
 * Контейнер
 ***********/
.container {
  width: 100%;
  min-height:  calc(100vh - 115px);
  // background-color: aqua;
}
.table_container {
  margin: 10px 0;
  padding: 10px;
  background-color: $main_container_background_color;  
  border: 1px solid $container_border_color;
  border-radius: 6px;
  width: fit-content;
}


._table .unit_top {
  width: 150px;
}

._table thead th:nth-child(1) {
  width: 20px;
  /* первая колонка  expand */
}

._table thead th:nth-child(2) {
  width: 100px;
  /* Вторая колонка  юнит */
}

._table thead th:nth-child(3) {
  width: 100px;
  /* Третья колонка "дата месяц" */
}

._table tbody td:nth-child(4) {
  width: 150px;
  text-align: center;
}

._table tbody td:nth-child(5) {
  width: 100px;
  text-align: center;
}

._table tbody td:nth-child(6) {
  width: 110px;
  /* шестая колонка "загруженнось" */
  text-align: center;

}
._table tbody td:nth-child(7) {
  min-width: 70px;
  text-align: center;
  /* Пятая колонка "план" */
}

._table tbody td:nth-child(8) {
  min-width: 70px;
  /* шестая колонка "результат" */
  text-align: center;
}
._table tbody td:nth-child(9) {
  min-width: 70px;
  /* шестая колонка "брак" */
  text-align: center;
}

.operation_title {
  text-indent: 15px;
  font-style: italic;
  color: #7a7a7a;
}

.operation_row {
  font-style: italic;
  color: #7a7a7a;
}

.date_title {
  text-indent: 15px;
  font-style: italic;
  color: #7a7a7a;
}


.expand_row {
  cursor: pointer;
}

.loader_container {
  display: flex;
  justify-content: center;
  align-items: center;
  // min-width:  100%;
  min-height:  calc(100vh - 510px);
  flex-direction: column;
  // background-color: antiquewhite;
}
