@import '@/styles/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');


/***********
 * Контейнер
 ***********/
.container {
  margin: 10px 0;
  padding: 10px;
  background-color: #f8f7f2;
  /* Светлый бежево-серый фон */
  border: 1px solid #ccc;
  border-radius: 6px;
  width: fit-content;
}

/***********
 * Таблица
 ***********/
._table {
  width: auto;
  border-collapse: collapse;
  /* Убираем двойные границы */
  font-size: 12px;
  color: #333;
  /* Цвет текста */
  background-color: #f8f7f2;
  /* Совпадает с контейнером */
}

/***********
 * Заголовок
 ***********/
._table thead th {
  background-color: #d9d7c2;
  /* Светлый беж, сочетается с остальной гаммой */
  padding: 8px 10px;
  border: 1px solid #ccc;
  text-align: left;
  // font-weight: normal;
}

/***********
 * Тело таблицы
 ***********/
._table tbody td {
  border: 1px solid #ccc;
  padding: 2px 10px;
  vertical-align: middle;
  background-color: #f8f7f2;
  /* Основной фон */
}

/* Задаём индивидуальную ширину колонок */


._table .unit_top {
  width: 150px;
}

._table thead th:nth-child(1) {
  width: 20px;
  /* первая колонка  expand */
}

._table thead th:nth-child(2) {
  width: 50px;
  /* Вторая колонка  юнит */
}

._table thead th:nth-child(3) {
  width: 100px;
  /* Третья колонка "дата месяц" */
}

._table tbody td:nth-child(4) {
  width: 150px;
  /* Четвёртая колонка "Чистое рабочее время" */
  text-align: center;
}

._table tbody td:nth-child(5) {
  width: 130px;
  text-align: center;
  /* Пятая колонка "Занятое время" */
}

._table tbody td:nth-child(6) {
  width: 110px;
  /* шестая колонка "загруженнось" */
  text-align: center;

}
._table tbody td:nth-child(7) {
  min-width: 70px;
  text-align: center;
  /* Пятая колонка "план" */
}

._table tbody td:nth-child(8) {
  min-width: 70px;
  /* шестая колонка "результат" */
  text-align: center;
}
._table tbody td:nth-child(9) {
  min-width: 70px;
  /* шестая колонка "брак" */
  text-align: center;
}

.operation_title {
  text-indent: 15px;
  font-style: italic;
  color: #7a7a7a;
}

.operation_row {
  font-style: italic;
  color: #7a7a7a;
}

.date_title {
  text-indent: 15px;
  font-style: italic;
  color: #7a7a7a;
}

/***********
 * Кнопки
 ***********/
._table button {
  // background-color: #aca984; /* Бежево-зелёный цвет */
  border: none;
  padding: 4px 8px;
  color: #fff;
  font-size: 10px;
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
}

._table button:hover {
  background-color: #989576;
  /* затемняем при наведении */
}

.button_ready_top {
  background-color: $load_ready ;
}

.button_defected_top {
  background-color: $load_defected;
}

.button_row {
  width: 20px;
}

.ready {
  background-color: $load_ready;
  border-radius: 5px;
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

.defective {
  background-color: $load_defected;
  border-radius: 5px;
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

.planed {
  background-color: $load_planed;
  border-radius: 5px;
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

.status_row {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;

}

.expand_row {
  cursor: pointer;
}

.loader_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 20px);
  flex-direction: column;
}
