// @import '@/styles/colors.scss';
@use '@/styles/colors.scss' as colors;
// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');


.icon_del {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-bottom: 2px;
}

.title {
    width: 100%;
    //    background-color: antiquewhite;    
    text-align: start;
    font-weight: bold;
    font-size: colors.$header4_font_size;
    padding: 2px;
}

.idc {

    width: 70px;
    text-align: start;
    font-weight: bold;
    //  background-color: aqua;
    font-size: colors.$header4_font_size;
    padding: 4px;
    border: colors.$border;
    border-radius: colors.$border-radius;
    text-align: end;
}


.sync {

    //   background-color: azure;
    width: 70px;
    text-align: start;
    font-size: colors.$header4_font_size;
    padding: 2px;

}

.uom {
    width: 70px;
    //   background-color: rgb(255, 205, 226);
    text-align: center;
    font-size: colors.$header4_font_size;
    padding: 2px;
}

.container_row {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    // background-color: aquamarine;
    width: 100%;
    
}

.container_icon_edit_save {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.icon_edit_save {
    border-top-left-radius: 5px;
}

