@import '@/styles/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');


.container_actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 340px;
    height: auto;
    margin: 5px;
    border-radius: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    position: relative;
    padding: 5px;
    position: relative;
}

.actions_title {
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    width: 200px;


}

.actions_title_top {
    padding: 2px;
    font-size: 16px;
    font-weight: bold;
    min-width: 202px;
    text-align: center;

}
.actions_interruptible {
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    width: 20px;
}
.actions_td{
    text-align: center; /* Горизонтальное выравнивание по центру */
    vertical-align: middle; /* Вертикальное выравнивание по центру */ 
}
.actions_interruptible_top {
    padding: 2px;
    font-size: 16px;
    font-weight: bold;
    min-width: 22px;
    text-align: center;

}

.icon_del{
width: 20px;
height: 20px;
    cursor: pointer;
}

.icon_del_top {
    height: 20px;
    min-width: 22px;
}


.container_buttons_row{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    border-top: 1px solid #ccc; /* Серая граница */
    // background-color: aquamarine;
    width: calc(100% - 4px);
    // position: absolute;
    // right: 0;
    // top: 0;
    overflow: hidden;
}
.container_icon_edit_save{
     display: flex;
     flex-direction: row;
     align-items: center;   
     cursor: pointer;   
}
.icon_edit_save{       
    border-top-left-radius: 5px;
}
.icon_cancel{       
    border-radius: 10px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    width: 24px;
    height: 24px;
}

    
