@import '@/styles/colors.scss';
// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');


.container {
    display: flex;
    flex-direction: column;
    width: 495px;
    height: auto;
    margin: 5px;
    background-color: $main_container_background_color;
    border-radius: $border-radius;
    border: $border;
    box-shadow: $box-shadow;
    transition: box-shadow 0.3s ease;
    padding: 5px;
    position: relative;
    color: $second_text_color;
    font-size: $header4_font_size;
}

.container_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 5px;
    border-bottom: $border;
    font-size: $header4_font_size;
    color: $text_color;
}

.container_status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container_tables {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
}


.container_out,
.container_in {
    flex: 1;
    display: flex;
    flex-direction: column;
    // background-color: azure;
}

.container_action {
    display: flex;
    flex-direction: column;
    min-width: 60px;

}

.container_coment {
    display: flex;
    flex-direction: column;
    // min-width:  60px;
    min-height: 50px;
}

.container_loads {
    display: flex;
    flex-direction: column;
    // min-width:  60px;
    min-height: 50px;
}

._out,
._in,
._loads {
    flex: 1;
    padding: 1px 1px;
    background-color: $second_container_background_color;
    border: $border;
    border-radius: $border-radius;
    height: auto;
}

._action {
    flex: 1;
    margin: 0 3px;
    padding: 1px 1px;
    background-color: $second_container_background_color;
    border: $border;
    border-radius: $border-radius;
    height: auto;
}

._coment {
    flex: 1;
    margin: 3px;
    padding: 1px 1px;
    background-color: $second_container_background_color;
    border: $border;
    border-radius: $border-radius;
    height: auto;
}


.out_title,
.action_title,
.in_title,
.coment_title {
    font-weight: bold;
    color: $second_text_color;
    text-align: center;
    height: auto;
    font-size: $header4_font_size;
}

._oper_title,
._oper_qtu {
    font-size: $header4_font_size;
    color: $text_color_italic;
    margin: 10px 5px;
    text-align: center;
}

//----OUT IN-----

.out_item_code,
.in_item_code,
.in_out_item_qtu,
.in_out_item_product {
    align-items: center;
    padding: 5px;
    text-align: end;
    font-size: $header4_font_size;
    //     border: $border;
    //     border-radius: $border-radius;
}

.in_out_item_product {
    width: 80%;
    // max-width: 98px;
    //  background-color: antiquewhite;    
    text-align: start;
    padding: 4px;
    overflow: hidden;
}

.in_item_code {
    //  width: 105px;    
    min-width: 60px;
    max-width: 60px;
    text-align: start;
    font-weight: bold;
    //   background-color: aqua;
}

.out_item_code {
    // width: 105px;    
    min-width: 60px;
    max-width: 60px;
    text-align: start;
    font-weight: bold;

    //   background-color: aqua;
}

.in_out_item_qtu {
    min-width: 20%;
    max-width: 60px;

    //  background-color: azure;

}

.container_in_out_item {
    display: flex;
    width: 100%;
    // height: 24px;
    //  background-color: rgb(177, 152, 135);
}


.container_in_out_item:last-child {
    border-bottom: none;
    /* Убираем границу у последней строки */
}

.container_icon_edit_save {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    border-top-left-radius: 5px;
}

.icon_edit_save {

    border-top-left-radius: 5px;
}

.icon_del {
    width: 20px;
    height: 20px;
    cursor: pointer;
}


.container_buttons_row {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    border-top: $border;
    width: calc(100% - 4px);
    overflow: hidden;
    padding: 3px 5px;
    margin-left: 5px;
    height: 30px;
}

.button_status {
    // padding: 0;
    margin: 0;
}

.plug {
    width: 60px;
}

.container_row_load {
    display: flex;
    width: 100%;
    height: 24px;
    //  background-color: rgb(177, 152, 135);
}

.load_date{
width: 100px;
text-align: center;
font-size: $header4_font_size;
}

.load_title{
width: 20%;
text-align: center;
font-size: $header4_font_size;
}
.load_start,
.load_finish{
width: 40px;
min-width: 40px;
text-align: center;
font-size: $header4_font_size;
}
.load_retool {
    width: 10px;
    text-align: center;
    font-size: $header4_font_size;
}

.load_status {
    display: flex;
    flex-direction: row;
    width: 100px;
    font-size: $header4_font_size;
}