@import '@/styles/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');


.container {
    display: flex;
    flex-direction: column;
    width: 495px;
    height: auto;
    margin: 5px;
    background-color: $main_container_background_color;
    border-radius: $border-radius;
    border: $border;
    box-shadow: $box-shadow;
    transition: box-shadow 0.3s ease;
    padding: 5px;
    position: relative;
    color: $second_text_color;
    font-size: $header4_font_size;
}

.container_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 5px;
    border-bottom: $border;
    /* Нижняя граница для отделения заголовка от содержимого */
    font-size: $header4_font_size;
    /* Размер шрифта для заголовка */
    color: $text_color;
    /* Цвет текста заголовка */
}

.container_status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container_tables {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;


}

// .container:hover {
//     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Увеличение тени при наведении */
// }

// .container .content {
//     flex: 1; /* Разделяет пространство для содержимого */
//     padding: 10px; /* Отступы для содержимого */
//     color: #333; /* Темно-серый цвет текста */
//     font-weight: normal; /* Обычный текст */
//     font-family: Arial, sans-serif; /* Шрифт для офисного стиля */
// }



// .container_tCardOper {
//     display: flex; /* Используем Flexbox для расположения блоков в ряд */
//     justify-content: space-between; /* Равномерное распределение пространства между блоками */
//     width: 100%; /* Ширина контейнера */
// }

.container_out,
.container_in {
    flex: 1;
    display: flex;
    flex-direction: column;
    // background-color: azure;
}

.container_action {
    display: flex;
    flex-direction: column;
    min-width: 60px;

}

.container_coment {
    display: flex;
    flex-direction: column;
    // min-width:  60px;
    min-height: 50px;

}

._out,
._in {
    flex: 1;
    padding: 1px 1px;
    background-color: $second_container_background_color;
    border: $border;
    border-radius: $border-radius;
    height: auto;
}

._action {
    flex: 1;
    margin: 0 3px;
    padding: 1px 1px;
    background-color: $second_container_background_color;
    border: $border;
    border-radius: $border-radius;
    height: auto;
}

._coment {
    flex: 1;
    margin: 3px;
    padding: 1px 1px;
    background-color: $second_container_background_color;
    border: $border;
    border-radius: $border-radius;
    height: auto;
}


.out_title,
.action_title,
.in_title,
.coment_title {
    font-weight: bold;    
    color: $second_text_color;    
    text-align: center;
    height: auto;
    font-size: $header4_font_size;
}

._oper_title,
._oper_qtu {
    font-size: $header4_font_size;
    color: $text_color_italic;
    margin: 10px 5px;
    text-align: center;
}

//----OUT IN-----
.container_in_out_item {
    display: flex;
    /* Используем Flexbox для расположения ячеек в строке */
    justify-content: space-between;
    /* Равномерное распределение пространства между ячейками */
    padding: 2px;
    /* Внутренние отступы для ячеек */
    border-bottom: 1px solid #ccc;
    /* Нижняя граница для разделения строк */
    font-size: 12px;
    width: 100%;
}

.container_in_out_item:last-child {
    border-bottom: none;
    /* Убираем границу у последней строки */
}

.in_out_item_code,
.in_out_item_title,
.in_out_item_uom,
.in_out_item_qty {
    // flex: 1; /* Каждая ячейка занимает равное пространство */
    text-align: center;
    /* Выравнивание текста по центру */
}

.in_out_item_title,
.in_out_item_uom,
.in_out_item_qty {
    margin-left: 2px;
    /* Отступ между ячейками для количества и единицы измерения */
}

.in_out_item_title:last-child,
.in_out_item_code:last-child,
.in_out_item_qty:last-child,
.in_out_item_uom:last-child {
    margin-left: 0;
    /* Убираем отступ для последней ячейки в строке */
}

/* Дополнительные стили для улучшения внешнего вида */
.container_in_out_item:hover {
    background-color: #f9f9f9;
    /* Изменение фона при наведении */
}


.in_out_item_code {
    font-weight: bold;
    /* Жирный текст для кода */
    min-width: 60px;
}

.in_out_item_title {
    font-weight: bold;
    /* Жирный текст для кода */
    width: 80%;
    // background-color: #ccc;
}

.in_out_item_qty,
.in_out_item_uom {
    color: #666;
    /* Светло-серый цвет для количества и единицы измерения */
    width: 20%;
    // background-color: #ccc;
}

.container_icon_edit_save {
    display: flex;
    flex-direction: row;
    // position: absolute;
    // top: 0;
    // left: 0;
    cursor: pointer;
    border-top-left-radius: 5px;
}

.icon_edit_save {

    border-top-left-radius: 5px;
}

.icon_del {
    width: 20px;
    height: 20px;
    cursor: pointer;
}


.container_buttons_row {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    border-top: 1px solid #ccc;
    width: calc(100% - 4px);
    overflow: hidden;
    padding: 3px 5px;
    margin-left: 5px;
    height: 30px;   
}

.button_status {
    // padding: 0;
    margin: 0;
}

.plug {
    width: 40px;
}