// @import '@/styles/colors.scss';
@use '@/styles/colors.scss' as colors;
// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

//ok
.plan_scale_container {
  display: flex;
  flex-direction: row;
  height: 100%;
  background-color: colors.$second_body_background_color;
  overflow: hidden;

}

.plug {
  display: flex;
  justify-content: center;
  height: 50px;
  min-height: 50px;
  width: 100%;
  background-color: colors.$second_body_background_color;

}

.plug1 {
  display: flex;
  justify-content: center;
  height: 40px;
  min-height: 40px;
  width: 100%;
  background-color: colors.$main_body_background_color;
  border-top-left-radius: colors.$border-radius;
}

.plug2 {
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100%;
  background-color: colors.$main_body_background_color;
  /* Используем flex-grow для того, чтобы блок занял оставшееся пространство */
  flex-grow: 1;  
}

.button_reset {
  background-color: colors.$button1_background_color;
  color: colors.$button1_text_color;
}

.plan_scale_container_right {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-bottom: 0;
  width: 140px;
  min-width: 140px;
  background-color: colors.$second_body_background_color;
  box-sizing: border-box;
  overflow: hidden; // чтобы ничего не расширяло колонку по высоте
}

.plan_scale_container_left {
  display: flex;
  flex-direction: column;
  width: calc(100% - 200px);
  margin-right: 20px;  
  border-bottom: colors.$border;  
  background-color: colors.$second_body_background_color;
  
}

//ok
.scale_container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-top: 10px;
  border-top-right-radius: colors.$border-radius;
  // background-color: rgb(223, 182, 130);
  background-color: colors.$main_body_background_color;  
}

//ok
.timeline {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  height: 100%;
  transform-origin: 0% 0%;
  // background-color: rgb(172, 155, 133);
  user-select: none;
  will-change: transform;
  transform: translateZ(0);
}

.pl_container_scale1 {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 0;
  height: 100%;
  transform-origin: 0% 0%;
}

.timeScaleMes,
.timeScaleDay,
.timeScaleHour,
.timeScaleMin {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.timeScaleMes {
  border-left: 1px solid #ccc;
  height: 100%;
}

.timeScaleDay {
  border-left: 1px solid #bbb;
  height: 100%;
}

.timeScaleHour {
  border-left: 1px solid #aaa;
  height: 100%;
}

.timeScaleMin {
  border-left: 1px solid #999;
  height: 100%;
}

.timeScaleMes span,
.timeScaleDay span,
.timeScaleHour span,
.timeScaleMin span {
  font-size: 10px;
  text-align: center;
  margin-top: 5px;
}

.scale_header {
  background-color: colors.$second_body_background_color;
  height: 50px;
  min-height: 50px;
}

.scale_controls {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: colors.$second_body_background_color;

}

.rangeSlider {
  width: 100%;
  height: 10px;
  background: #ddd;
  border-radius: 5px;
  -webkit-appearance: none;
  /* Префикс для Webkit браузеров (Chrome, Safari) */
  -moz-appearance: none;
  /* Префикс для Firefox */
  appearance: none;
  /* Стандартное свойство для совместимости с другими браузерами */
  outline: none;
  background-color: colors.$main_body_background_color;
  // background-color:colors.$button_background_color;
}

.rangeSlider_label {
  color: colors.$third_text_color;
}


.rangeSlider[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  // background: #333;
  background: colors.$text_color_italic;
  border-radius: 50%;
  border: colors.$border;
  cursor: pointer;
}

.rangeSlider[type="range"]:focus {
  outline: none;
}

.timeline_markers {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  background-color: rgb(175, 159, 159);
}

.today_scale {
  position: absolute;
  left: 0;
  top: 0;
  border-left: 2px solid #ec0505;
  height: 1000%;
  //  background-color: rgb(238, 16, 16);
  width: 1px;
  z-index: 22;
}

//  Временная шкала часы
.timeBlock {
  display: flex;
  flex-direction: column;  
}

.workTime {
    background-color: rgb(216, 226, 216);
  }

.breakTime {
  background-color: rgb(235, 224, 205);
}

.nonWorkTime {
  background-color: rgb(255, 255, 255);
}

// Это шрифт для временной шкалы
.timeLabel {
  font-size: 10px;
  font-family: Arial, sans-serif;
  text-align: center;
  // background-color: salmon;
   height: 100%;
}

/* Риска для 4 часов, будет такой же, как для 1 часа, но по частоте */
.interval4hours {
 
  height: 66px;
  // background-color: #555;  /* Та же, что и для часового интервала */
  border-left: 1px solid #555;
}

//ok
.day_scale {
  height: 100%;
  // background-color: rgb(224, 173, 173);
  position: relative;
  display: flex;
  flex-direction: column;
  position: relative;

}

.day_title {
  height: 30px;
  border-left: 1px solid rgb(0, 0, 0);
  padding-left: 3px;
}

.time_container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  // background-color: rgb(173, 224, 180);
}


.timeScale {
  width: 100%;
  height: 20px;
}


/* Основной стиль для временной метки */
.timeLabel {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 12px;
  color: black;
  padding-left: 1%;
}

/* Риска для 5 минут */
.interval5min {
  position: relative;
  height: 100%;
  border-left: 1px dashed #999;
}

/* Риска для 30 минут */
.interval30min {
  position: relative;
  height: 100%;
  // background-color: #999;  /* Более темная серая */
  border-left: 1px solid #999;
}


.interval1hour {
  position: relative;  
  height: 100%;
  // background-color: #555;  /* Та же, что и для часового интервала */
  border-left: 1px solid #555;
}

/* Риска для 4 часов, будет такой же, как для 1 часа, но по частоте */
.interval4hours {
  position: relative;
  height: 100%;
  // background-color: #555;  /* Та же, что и для часового интервала */
  border-left: 1px solid #020202;
}


///// UNITS
/// 
// .unit_name {
//   position: relative;
//   padding: 15px 10px 10px;
//   width: 100%;
//   background-color: colors.$main_body_background_color;
//   min-height: 30px;
//   max-height: 50px;
//   font-weight: bold;
//   cursor: pointer;
//    background-color: rgb(188, 188, 199);
// }

.unit_name {
  box-sizing: border-box;

  height: 50px;
  min-height: 50px;
  max-height: 50px;

  display: flex;
  align-items: center;

  padding: 0 10px;     // убираем вертикальные padding
  width: 100%;

  font-weight: bold;
  cursor: pointer;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: colors.$main_body_background_color;
  // background-color: rgb(188, 188, 199);
  //  border: #020202 1px solid;
}


// .units_title {
//   // margin: 1px;
//   width: 100%;
//   padding: 20px 10px 10px;
//   // background-color: rgb(235, 228, 137);
//   min-height: 30px;
//   font-weight: lighter;
//   background-color: colors.$main_body_background_color;
//   // background-color: rgb(161, 161, 167);
//   font-style: italic;
//   font-size: colors.$header3_font_size;
// }
.units_title {
  box-sizing: border-box;

  height: 50px;
  min-height: 40px;
  max-height: 50px;

  display: flex;
  align-items: center;

  padding: 0 10px;

  font-weight: lighter;
  font-style: italic;
  font-size: colors.$header3_font_size;

  background-color: colors.$main_body_background_color;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.unit_load {  
  width: 100%;
  background-color: rgb(119, 116, 69);
  min-height: 50px;
  padding: 10px 0;
  
}

.unit_unload {
  position: relative;  
  width: 100%;
  // background-color: rgb(255, 251, 199);
  min-height: 50px;  
  border-bottom: 1px dashed #ccc;
}

.unit_gap {
  margin-top: 20px;
  width: 100%;  
  min-height: 30px;  
}