@import '@/styles/colors.scss';
// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');



/***********
 * Контейнер
 ***********/
.container {
  margin: 5px ;
  padding: 3px;
  background-color: $thirds_container_background_color;
  
  /* Светлый бежево-серый фон */
  border: $border;
  border-radius: $border-radius;
  width: 100%;
}

