
// @import '@/styles/colors.scss';
@use '@/styles/colors.scss' as colors;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

.dropdownContainer{
    display: flex; /* Используем flexbox для выравнивания */
    align-items: center; /* Вертикальное выравнивание по центру */
    justify-content: center; /* Горизонтальное выравнивание по центру */
    width: 100%; /* Ширина контейнера */
    height: 100%; /* Высота контейнера */   
    position: relative; 
    max-width:  160px
}

  .selectContainer {
    position: relative;
  }
  
  .select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white; // Белый фон
    border-radius: colors.$border-radius; // Скругление углов
    padding: 0 2px;  // Отступы, похожие на input
    border: colors.$border; // Цвет границы (можно заменить переменной)
    color: colors.$second_text_color; // Цвет текста
    font-size: colors.$header4_font_size;
    cursor: pointer; // Курсор при наведении
    box-sizing: border-box; // Учет паддингов в ширине элемента
    width: 100%;
  
    &:focus {
      outline: none; // Убираем стандартное выделение
      border-color: #adafb3; // Цвет границы при фокусе (можно изменить на нужный)
    }
  
    .arrow {
      font-size: 16px;
    }
  
    .selectedItem {
      flex-grow: 1; // Чтобы текст "Выберите статус" растягивался на доступную ширину
      overflow: hidden; // Чтобы длинные значения не выходили за пределы
      text-overflow: ellipsis; // Если значение слишком длинное, показываем "..."
    }
  }
  
  .dropdownList {
    position: absolute;
    font-size: colors.$header4_font_size;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border-radius: colors.$border-radius; // Скругление углов 
    border: colors.$border; // Цвет границы (можно заменить переменной)
    z-index: 10; // Убедимся, что список будет поверх других элементов
    margin-top: 4px; // Небольшой отступ сверху от поля выбора
    list-style-type: none; // Убираем стандартные маркеры (точки)
    padding: 0; // Убираем отступы
    margin: 0; // Убираем внешние отступы
  }
  
  .dropdownItem {
    padding: 3px 5px; // Отступы для элементов
    font-size: colors.$header4_font_size;
    color: colors.$text_color_italic; // Цвет текста для опций
    cursor: pointer; // Курсор при наведении на элемент
  
    &:hover {
      background-color: #f0f0f0; // Цвет фона при наведении
    }
  
    &.selected {
      background-color: colors.$button1_hover_background_color; // Цвет фона для выбранной опции
      // color: white;  // Цвет текста для выбранного элемента
    }
  }
  