@import '@/styles/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');


.interval {
  font-size: 12px;
  position: absolute;
  height: 20px;
  margin: 20px 0;
  z-index: 1;
  border: 1px solid #ccc;
  border-radius: 10px;
  /* Центрируем текст вертикально и горизонтально */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cancelled {
  background-color: $load_cancelled;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.15);
}

.performed {
  background-color: $load_performed;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.15);
}

.ready {
  background-color: $load_ready;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.15);
}

.planed {
  background-color: $load_planed;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.15);
}

.prepared {
  background-color: $load_prepared;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.15);
}

.defected {
  background-color: $load_defected;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.15);
}

.draft {
  background-color: $load_draft;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.15);
}


// .planed {
//   background-color: rgb(167, 160, 87);
//   /* Добавляем выпуклый эффект */
//   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.15);

// }

// .draft {
//   background-color: rgb(219, 218, 204);
//   /* Добавляем выпуклый эффект */
//   box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.15);
// }

// .prepared {
//   background-color: rgba(172, 169, 132, 0.74);
//   background-color: rgba(108, 170, 7, 0.541);
//   /* Добавляем выпуклый эффект */
//   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.15);
// }

// .defective {
//   background-color: rgb(255, 143, 79);
//   /* Добавляем выпуклый эффект */
//   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.15);
// }
// .ready {
//   background-color: rgba(107, 170, 7, 0.753);
//   /* Добавляем выпуклый эффект */
//   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.15);

// }
// .defective {
//   background-color: rgb(255, 143, 79);
//   /* Добавляем выпуклый эффект */
//   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.15);
// }

.retool {
  background-color: rgb(241, 241, 241);
  height: 14px;
  margin: 23px 0;
}

.lighted {
  box-shadow: 0 4px 6px rgba(255, 255, 0, 0.7), 0 1px 3px rgba(255, 255, 0, 0.6);
}

.first{
  position: absolute;
  border-radius: 5px;
  background-color: inherit;
  height: 20px;
  width: 2px;
  bottom: -12px;
  z-index: 0;
}

.icon_pinon {
  //  position: absolute;
  //  border-radius: 5px;
  cursor: pointer;

  //  left: -3px;
  //  top: -12px;
  z-index: 2;
  padding: 3px 8px 7px 2px;
  // background-color: aqua; 
}

.icon_pinof {
  position: absolute;
  border-radius: 5px;
  cursor: pointer;

  left: 0;
  top: -13px;
  z-index: 2;
}

.strip {
  background-image: 
    repeating-linear-gradient(45deg, #bbb 0, #bbb 1px, transparent 1px, transparent 10px),
    repeating-linear-gradient(-45deg, #bbb 0, #bbb 1px, transparent 1px, transparent 10px);
  
}