// @import '@/styles/colors.scss';
@use '@/styles/colors.scss' as colors;
// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');


.container_context_menu {
    font-size: 12px;
    position: absolute;
    z-index: 50;
    top: 45px;
    width: 200px;
    border-radius: colors.$border-radius;
    background-color: colors.$menu_background_color;
    border: colors.$border;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    padding: 3px;
    font-size: 12px;
    cursor: auto;

    &::before {
        content: '';
        position: absolute;
        top: -8px;
        left: 10px; // сдвиг треугольника к левому краю
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid colors.$border_color; // цвет обводки
        z-index: 1;
    }

    &::after {
        content: '';
        position: absolute;
        top: -7px;
        left: 11px; // чуть смещаем внутрь, чтобы "влез" в рамку
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid colors.$menu_background_color; // цвет фона меню
        z-index: 2;
    }
}

.icon_edit_save {
    cursor: pointer;
}

.container_icon {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-top: colors.$border;
}

.coment {
    padding: 2px;
}

.title {
    padding: 2px;
    font-weight: bold;
    font-size: colors.$header4_font_size;
}

// /* Треугольник сверху блока */
// .contextMenuTriangle {
//     position: absolute;
//     top: -5.5px;
//     /* высота треугольника */
//     left: 3.5px;
//     /* центрирование треугольника по горизонтали */
//     width: 0;
//     height: 0;
//     border-left: 7.5px solid transparent;
//     border-right: 7.5px solid transparent;
//     border-bottom: 7.5px solid colors.$sidebar_background;
// }