@import '@/styles/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

.container_units {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 860px;
    height: auto;
    margin: 5px;
    border-radius: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    position: relative;
    padding: 5px;
    position: relative;

}

.container_unit_actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    height: auto;
    margin: 5px;
    border-radius: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    position: relative;
    padding: 5px;
    position: relative;
}



.icon_del {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.container_buttons_row {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    border-top: 1px solid #ccc;
    /* Серая граница */
    // background-color: aquamarine;
    width: calc(100% - 4px);
    // position: absolute;
    // right: 0;
    // top: 0;
    overflow: hidden;
}

.container_icon_edit_save {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.icon_edit_save {
    border-top-left-radius: 5px;
}

.icon_cancel {
    border-radius: 10px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.message {
    font-size: 12px;
    /* Размер шрифта для информации о времени */
    color: #666;
    /* Светло-серый цвет для дополнительной информации */
    text-align: center;
    width: 100%;
    color: red;
}


// Таблица Юнитов

.icon_del {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.icon_del_top {
    height: 20px;
    min-width: 22px;
}

.icon_save_top {
    height: 20px;
    min-width: 30px;
}

.units_code {
    width: 60px;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;

}

.units_code_top {
    min-width: 62px;
    padding: 2px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;

}

.units_title {
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    width: 200px;


}

.units_title_top {
    padding: 2px;
    font-size: 16px;
    font-weight: bold;
    min-width: 202px;
    text-align: center;

}

.units_retool {
    width: 100px;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

/* Дополнительно, для удаления стрелочек на мобильных устройствах (например, на iOS) */
.units_retool::-webkit-outer-spin-button,
.units_retool::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.units_retool_top {
    min-width: 102px;
    padding: 2px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.units_belong_top {
    min-width: 92px;
    padding: 2px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.units_type_top {
    min-width: 92px;
    padding: 2px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;

}

.units_coment {
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    width: 200px;

}

.units_coment_top {
    padding: 2px;
    font-size: 16px;
    font-weight: bold;
    min-width: 202px;
    text-align: center;

}

// Таблица действий
.unit_action_top {
    min-width: 162px;
    padding: 2px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

// Таблица действий
.unit_koef_top {
    min-width: 52px;
    padding: 2px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

// Таблица действий
.unit_action {
    min-width: 160px;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

// Таблица действий
.unit_koef {
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    width: 50px;
    text-align: center;

}

/* Дополнительно, для удаления стрелочек на мобильных устройствах (например, на iOS) */
.unit_koef::-webkit-outer-spin-button,
.unit_koef::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.units {
    display: flex;

    flex-direction: row;
}

.contaitainer_catalog_left {
    display: flex;

    flex-direction: column;
    // background-color: rgb(182, 217, 247);
    margin-right: 10px;

}

.contaitainer_catalog_right {
    display: flex;
    flex: 1;
    flex-direction: column;
    // background-color: antiquewhite;
}