@import '@/styles/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

.units {
    display: flex;
    flex-direction: column;
}

.contaitainer_catalog_left {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.contaitainer_catalog_right {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    // width: 906px;
    height: auto;
    margin: 5px;
    background-color: $main_container_background_color;
    border-radius: $border-radius;
    border: $border;
    box-shadow: $box-shadow;
    transition: box-shadow 0.3s ease;

    padding: 5px;
    position: relative;
    color: $second_text_color;
    font-size: $header4_font_size;


}

._units {
    width: 906px;
}

._unit_actions {
    width: 300px;
}

._unit_exceptions {
    width: 406px;
}

///////////////
._table {
    width: 100%;
    margin-bottom: 5px;
}



._table thead th:nth-child(1) {
    width: 29px;
}

._table thead th:nth-child(2) {
    width: 69px;
}

._table thead th:nth-child(3) {
    width: 209px;
}

._table thead th:nth-child(4) {
    width: 100px;
}

._table thead th:nth-child(5) {
    width: 108px;
}

._table thead th:nth-child(6) {
    width: 100px;
}
._table tr td:nth-child(7) {
 position: relative; 
}
.icon_del {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.point{
    position: absolute;
    right: -5px;
    top: 0;
    width: 10px;
    height: 10px;
}


///////////////
._table_a {
    width: 100%;
    margin-bottom: 5px;
}

._table_a thead th:nth-child(1) {
    width: 29px;
}

._table_a thead th:nth-child(2) {
    width: 150px;
}

///////////////
._table_e {
    width: 100%;
    margin-bottom: 5px;
}

._table_e thead th:nth-child(1) {
    width: 29px;
}

._table_e thead th:nth-child(2) {
    width: 115px;
}
._table_e thead th:nth-child(3) {
    width: 74px;
}
._table_e thead th:nth-child(4) {
    width: 74px;
}


.container_buttons_row {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    border-top: $border;    
    width: calc(100% - 4px);    
    overflow: hidden;
}

.container_icon_edit_save {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.icon_edit_save {
    border-top-left-radius: 5px;
}

.icon_cancel {
    border-radius: 10px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
   
}
// .message {
//     font-size: 12px;
//     /* Размер шрифта для информации о времени */
//     color: #666;
//     /* Светло-серый цвет для дополнительной информации */
//     text-align: center;
//     width: 100%;
//     color: red;
// }


// Таблица Юнитов

.icon_del {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.icon_del_top {
    height: 20px;
    min-width: 22px;
}

.icon_save_top {
    height: 20px;
    min-width: 30px;
}

.units_code {
    width: 60px;
    // padding: 2px;
    // border: 1px solid #ccc;
    // border-radius: 4px;
    // font-size: 12px;
    // font-weight: bold;

}

// .units_code_top {
//     min-width: 62px;
//     padding: 2px;
//     font-size: 16px;
//     font-weight: bold;
//     text-align: center;

// }

.units_title {
    // padding: 2px;
    // border: 1px solid #ccc;
    // border-radius: 4px;
    // font-size: 12px;
    // font-weight: bold;
    // width: 200px;
    width: 100%;

}

// .units_title_top {
//     padding: 2px;
//     font-size: 16px;
//     font-weight: bold;
//     min-width: 202px;
//     text-align: center;

// }

.units_retool {
    width: 100%;
    //  padding: 2px;
    // border: 1px solid #ccc;
    // border-radius: 4px;
    // font-size: 12px;
    // font-weight: bold;
     text-align: center;
}

/* Дополнительно, для удаления стрелочек на мобильных устройствах (например, на iOS) */
.units_retool::-webkit-outer-spin-button,
.units_retool::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

// .units_retool_top {
//     min-width: 102px;
//     padding: 2px;
//     font-size: 16px;
//     font-weight: bold;
//     text-align: center;
// }

// .units_belong_top {
//     min-width: 92px;
//     padding: 2px;
//     font-size: 16px;
//     font-weight: bold;
//     text-align: center;
// }

// .units_type_top {
//     min-width: 92px;
//     padding: 2px;
//     font-size: 16px;
//     font-weight: bold;
//     text-align: center;

// }

 .units_coment {
//     padding: 2px;
//     border: 1px solid #ccc;
//     border-radius: 4px;
//     font-size: 12px;
//     font-weight: bold;
//     width: 200px;
     width: 100%;
 }

// .units_coment_top {
//     padding: 2px;
//     font-size: 16px;
//     font-weight: bold;
//     min-width: 202px;
//     text-align: center;

// }

///Таблица действий///////////////////////////
// Таблица действий
// .unit_action_top {
//     min-width: 162px;
//     padding: 2px;
//     font-size: 16px;
//     font-weight: bold;
//     text-align: center;
// }

// // Таблица действий
// .unit_koef_top {
//     min-width: 52px;
//     padding: 2px;
//     font-size: 16px;
//     font-weight: bold;
//     text-align: center;
// }

// Таблица действий
.unit_action {
    min-width: 160px;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

// Таблица действий
.unit_koef {
    // padding: 2px;
    // border: 1px solid #ccc;
    // border-radius: 4px;
    // font-size: 12px;
    // font-weight: bold;
    // width: 50px;
    text-align: center;
    width: 100%;
}

/* Дополнительно, для удаления стрелочек на мобильных устройствах (например, на iOS) */
.unit_koef::-webkit-outer-spin-button,
.unit_koef::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

///Отклонений от расписания///////////////////////////

.exception_date {
    width: 100px;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;

}

.exception_date_top {
    min-width: 102px;
    width: 102px;
    padding: 2px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.exception_time {
    width: 70px;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
}

.exception_time_top {
    min-width: 72px;
    padding: 2px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.exception_time_type_top {
    min-width: 92px;
    padding: 2px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;

}