// helpTree.module.scss
// @import '@/styles/colors.scss';
@use '@/styles/colors.scss' as colors;
// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

.treeContainer {

  font-size: colors.$header3_font_size;
  color: colors.$second_text_color;
  padding: 1rem;
  background-color: colors.$main_body_background_color;
  border: colors.$border;
  border-radius: colors.$border-radius;
}

.treeNode {
  margin-bottom: 0.5rem;
}

.nodeHeader {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  padding: 0.25rem;
  border-radius: 4px;
  transition: background-color 0.2s;
  
}


.nodeHeader:hover {
  background-color: colors.$background-color-select;
}

.toggle {
  display: inline-block;
  width: 1.2rem;
  text-align: center;
  margin-right: 0.4rem;
  font-weight: bold;
  font-size: 1rem;
  // color: #007acc;
}

// .title {
//   font-size: colors.$header4_font_size;
//   // font-weight: 500;
//   color: colors.$second_text_color;
// }

.nodeContent {
  margin-left: 1.6rem;
  padding-top: 0.25rem;
}

.content {
  margin-top: 0.25rem;
  padding: 0.25rem 0.5rem;
  color: #555;
   border-left: 2px solid colors.$thirds_container_background_color;
  // background-color: #f9f9f9;
  background-color: colors.$background-color-select;
  border-radius: 4px;
}

.level0 .title {
  font-size: 0.95rem;
  font-weight: bold;
}

.level1 .title {
  font-size: 0.9rem;
}

.level2 .title {
  font-size: 0.85rem;
  color: #444;
}

.level3 .title {
  font-size: 0.8rem;
  color: #666;
}