@import '@/styles/colors.scss';
// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');



/***********
 * Контейнер
 ***********/
.container {
  margin: 10px 0;
  padding: 10px;
  background-color: #f8f7f2;
  /* Светлый бежево-серый фон */
  border: $border;
  border-radius: $border-radius;
  width: fit-content;
}

/* Задаём индивидуальную ширину колонок */
._table thead th:nth-child(1) {
  width: 120px;
  /*   Карта */
}

._table thead th:nth-child(2) {
  width: 150px;
  /*   "Операция, код" */
}

._table thead th:nth-child(3) {
  width: 100px;
  /*   "Юнит" */
}

._table thead th:nth-child(4) {
  width: 170px;
  /*   "Старт" */
}

._table thead th:nth-child(5) {
  width: 170px;
  /*   "Финиш" */
}

._table thead th:nth-child(6) {
  width: 100px;
  /*   "Статус" */
}

._table thead th:nth-child(7),
._table thead th:nth-child(8) {
  width: 100px;
  text-align: center;
  vertical-align: middle;
  /*   "Готов"/Брак */
}

._table tbody td:nth-child(8),
._table tbody td:nth-child(7) {
  width: 100px;
  text-align: center;
  vertical-align: middle;
}

._table button:hover {
  background-color: #989576;
  /* затемняем при наведении */
}

.button_ready_top {
  background-color: $load_ready ;
}

.button_defected_top {
  background-color: $load_defected;
}

.button_row {
  width: 20px;
}

.ready {
  background-color: $load_ready;
  border-radius: 5px;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.defective {
  background-color: $load_defected;
  border-radius: 5px;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.planed {
  background-color: $load_planed;
  border-radius: 5px;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.status_row {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}