// @import '@/styles/colors.scss';
@use '@/styles/colors.scss' as colors;

.container_admin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    // height: inherit;
    height: auto;
    flex: 1;
    width: 100%;
    // background-color: aqua;
overflow-y: auto;
    @media screen and (max-width: 650px) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        align-items: center;
        padding-top: 10px;
    }
}

.container_admin_left {
    display: flex;
    padding: 10px;
    flex-direction: column;
    // border: colors.$border;
    // border-radius: colors.$border-radius;
    width: 40%;
    max-width: 450px;
    // background-color: beige;
    margin: 0 5px;
    height: max-content;

    @media screen and (max-width: 650px) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 95%;
        height: auto;
    }
}

.container_admin_midle {
    display: flex;
    padding: 10px;
    flex-direction: column;

    // height: inherit;
    width: 60%;
    // border: colors.$border;
    // border-radius: colors.$border-radius;
    // background-color: rgb(183, 189, 181);
    align-items: center;
    margin: 0 5px;
    height: max-content;

    @media screen and (max-width: 650px) {
        width: 95%;
        height: auto;
    }
}

.container_admin_right {
    display: flex;
    padding: 10px;
    flex-direction: column;
    // height: inherit;
    width: 40%;
    // border: colors.$border;
    // border-radius: colors.$border-radius;
    // background-color: rgb(190, 190, 100);
    align-items: center;
    margin: 0 5px;
   height: max-content;

    @media screen and (max-width: 650px) {
        width: 95%;
        height: auto;
    }
}

.container_admin_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
    border: colors.$border;
    border-radius: colors.$border-radius;
    min-height: 50px;
    width: 100%;
    background-color: colors.$main_body_background_color;

}

.index_title {
    display: flex;
    flex-direction: column;
    // color: colors.$dark_text;
    font-size: 44px;
    font-weight: 700;
    padding: 10px 0;

    @media screen and (max-width: 650px) {
        align-items: center;
        text-align: center;
    }
}

.label_admin {
    display: flex;
    flex-direction: column;
}

.label_baner {
    display: flex;
    flex-direction: column;
    width: calc(100% - 20px);
}

.input_admin {
    margin: 10px;
}

.input_baner {
    width: 100%;
    margin: 10px;
}

.input_locale {
    width: 30px;
}

.message_admin {
    margin: 10px;
    background: colors.$table_body_background_color;
    height: 40px;
    width: calc(100% - 20px);
    border: colors.$border;
    border-radius: colors.$border-radius;
}

.period_baner {
    display: flex;
    flex-direction: row;
}

.section_title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
}

.icon_bill {
    cursor: pointer;
}