@import '@/styles/colors.scss';


.container_cards_title {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin: 10px 0 5px 0;

}

.container_cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 168px);
    overflow: auto;
    // background-color: aliceblue;
}

.container_card {
    display: flex;
    flex-direction: row;
    padding: 10px 5px 10px 10px;
    cursor: pointer;
    width: 100%;
    justify-content: space-between;
    font-size: 14px;
}

.container_card_text {
    cursor: default;
    font-size: 12px;
}
.container_card_text1 {    
    font-size: 12px;
}
.container_card1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container_card_edit {
    display: flex;
    font-size: 14px;
    font-weight: bold;
    align-items: center;
}

.container_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding-top: 10px;
}

.container_message {
    display: flex;
    flex-direction: column;
    // margin: 10px 0;
    border-top: 1px solid black;
    height: 100px;
    overflow: auto;
    color: brown;
    background-color: rgb(191, 207, 236);
    width: 218px;
    font-size: 12px;
    padding: 10px;
}

///////////////Загрузка файла////////////
// .container_card_load {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     text-align: center;
//     font-size: 40;
//     min-height: 100px;
//     width: 100%;
//     border-radius: 5px;
//     border: 2px solid $button_border;   
//     justify-self: center;
// }

.container_card_load {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px; // Более сдержанный размер шрифта
    min-height: 100px;
    width: 100%;
    border-radius: 5px; // Скругленные углы
    border: 2px solid rgb(200, 200, 200); // Легкая серая граница для согласования с остальной цветовой гаммой
    background-color: rgb(245, 245, 245); // Светло-серый фон для сдержанности
    color: rgb(100, 100, 100); // Темно-серый текст, чтобы было легко читать
    cursor: pointer; // Курсор указывает, что это область для перетаскивания
    transition: background-color 0.3s ease, border-color 0.3s ease; // Плавный переход для фона и границы
}

/* Эффект при наведении */
.container_card_load:hover {
    background-color: rgb(230, 230, 230); // Чуть более темный серый фон при наведении
    border-color: rgb(180, 180, 180); // Тонкая темная граница при наведении
}

/* Эффект при перетаскивании файла */
.container_card_load.dragover {
    background-color: rgb(220, 220, 220); // Еще более темный фон при перетаскивании
    border-color: rgb(160, 160, 160); // Более темная граница при перетаскивании
}

//////////////////
.card_container_right {
    display: flex;
    flex-direction: column;
}

.container_right_inner {
    display: flex;
    // height: calc(100% - 55px);  // минус высота     
    height: 100%;
    width: 100%;
    overflow: auto;

}

// .container_right_inner {
//     // background-color: aliceblue;
//     height: 100%;
//     width: 120%;
//     overflow: scroll;
//     position: relative;
//     // flex: 1;
// }

.manage_stage {
    display: flex;
    flex-direction: row;
    // background-color: aqua;
    text-align: center;
    // justify-content: center;
    font-size: 25px;
    height: 40px;
    margin-left: 5px;
    margin-right: -45px;
    padding-top: 13px;
    // cursor: pointer;
    min-width: 40px;
    z-index: 10;

}

.container_stage_title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    width: 100%;
    position: relative;
}

.container_stage_item {
    display: flex;
    flex-direction: row;
    width: 400px;
    margin: 5px;
    border-radius: 5px;
}

.container_products {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    width: 320px;
    align-items: center;
    padding: 5px;
    height: max-content;
}

.container_materials {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    width: 150px;
    align-items: center;
    padding: 5px;
    height: max-content;
}

.container_stage {
    display: flex;
    flex-direction: column;
    // border: 1px solid rgb(0, 0, 0);
    // background: rgb(114, 173, 173);
    min-width: 500px;
    width: 500px;
    align-items: center;
    padding: 5px;
    height: max-content;
}

.container_stage_result {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(0, 0, 0);
    width: 140px;
}

.container_stage_result_title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    width: 100%;
}

.container_stage_result_item {
    display: flex;
    flex-direction: row;
}

.container_stage_result_item_code {
    padding: 5px;
}

.container_stage_result_item_qty {
    padding: 5px;
}

.container_stage_operation {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(0, 0, 0);
    width: 140px;
}

.container_stage_operation_name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    width: 100%;
}

.container_stage_operation_qty {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    width: 100%;
}

.container_stage_sourse {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(0, 0, 0);
    width: 140px;
}

.container_stage_sourse_title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    width: 100%;
}

.container_stage_sourse_item {
    display: flex;
    flex-direction: row;
    // cursor: grab;
    // z-index: 100;
    // background-color: aqua;
}

.container_stage_sourse_item1 {
    display: flex;
    flex-direction: row;
    // position: absolute;
    top: 0;
    left: 0;
    // cursor: grab;
}

.container_stage_sourse_item_code {
    padding: 5px;
}

.container_stage_sourse_item_qty {
    padding: 5px;
}

///////////////////
.container_stage_new_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    margin: 5px;
}

.container_stage_new_item {
    display: flex;
    flex-direction: row;
    width: 400px;

    border-radius: 5px;
}

.container_stage_new_result {
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    width: 140px;
}

.container_stage_new_result_item_code {
    width: 80px;
    margin: 2px;
}

.container_stage_new_result_item_qty {
    margin: 2px;
    width: 40px;
}

.container_stage_new_operation {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(0, 0, 0);
    width: 140px;
}

.container_stage_new_operation_name {
    margin: 2px;
    width: 130px;
    align-self: center;
}

.container_stage_new_operation_container_qty {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.container_stage_new_operation_qty {
    width: 40px;
}



.container_stage_new_sourse {
    display: flex;
    flex-direction: column;

    border-left: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    width: 140px;
}

.container_stage_new_sourse_item_code {
    width: 80px;
    margin: 2px;
}

.container_stage_new_sourse_item_qty {
    margin: 2px;
    width: 40px;
}

.grab_container {
    position: relative;
}


.container_icon_edit_save {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.icon_edit_save {
    border-top-left-radius: 5px;
    cursor: pointer;
}

.icon_del {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.icon_del_stage {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 10px;
}

.icon_add_stage {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: -15px;
}

.container_tCardProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    height: auto;
    margin: 5px;
    border-radius: 10px;
    /* Скругленные углы */
    background-color: #f0f0f0;
    /* Светло-серый фон */
    border: 1px solid #ccc;
    /* Равномерная серая граница */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Легкая тень для глубины */
    transition: box-shadow 0.3s ease;
    /* Плавный переход для эффекта при наведении */
    // position: relative;
    padding: 3px;
    // padding: 17px 2px 2px 2px;
    // background-color: aqua;
    // height: 100px;
    font-size: 12px;
}

.container_buttons_row {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    border-top: 1px solid #ccc;
    /* Серая граница */
    // background-color: aquamarine;
    width: calc(100% - 4px);
    // position: absolute;
    // right: 0;
    // top: 0;
    overflow: hidden;
}

.container_icon_edit_save {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.icon_edit_save {
    border-top-left-radius: 5px;
}

.container_status {
    // position: absolute;
    // z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(240, 240, 240);
    padding: 3px 10px;
}

.button_prepared {
    margin-left: 10px;
}

.button_prepared.pressed {
    background: rgb(88 185 18 / 45%);
    // background: $button_active;
    /* Более мягкий серый фон при нажатии */
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
    /* Более мягкая внутренняя тень */
    transform: translateY(1px);
    /* Легкая вдавленность при нажатии */

}