// Основные цвета

$black: #000000; // черный
$body:  rgba(200, 200, 200, 1);

$border_card: rgb(204, 204, 204);
$background_card: rgb(240, 240, 240);
$background_card_content: rgb(255, 255, 255);


$header_background: rgb(230, 230, 230);  // Светло-серый фон для header
$header_text: rgb(60, 60, 60);  // Тёмно-серый текст для header

// Цвет для левой боковой панели
$sidebar_background: rgb(240, 240, 240);  // Фон панели (светлый серый)
$sidebar_text: rgb(100, 100, 100);  // Средне-серый цвет текста для элементов на панели
$sidebar_icon: rgb(140, 140, 140);  // Более светлый цвет для иконок и мелких элементов на панели

// Цвет для границы между header и левой боковой панелью
$sidebar_border: rgb(200, 200, 200);  // 

// Цвет для границы между header и левой боковой панелью
$button_border: rgba(210, 210, 210, 1);;  // 
$button_hover: rgb(217, 217, 217);;  // 
$button_active: rgb(209, 209, 209);;  // 
$button_text: rgb(51, 51, 51);  // 

// Цвет для лоадов
$load_cancelled: #c0c0c0;  
$load_performed: #a8cf92;  
$load_ready: #7a974e;  
$load_planed: #aca984;  
$load_prepared: #ece37e; 
$load_defected: #e6a681;  
$load_draft: #d9d7c2;    

  
  

// $dark_text: rgba(0, 42, 88, 1);
// $orange_text: rgba(244, 187, 104, 1);
// $green_text: rgba(16, 155, 3, 1);
// $light_text: rgba(255, 255, 255, 1);
// $red_text: rgba(165, 16, 16,1);

// $dark_table: rgba(43, 67, 112, 1);

// $light_table: rgba(255, 255, 255, 1);
// $gray_table: rgba(235, 236, 240, 1);

// $light_background: rgba(255, 255, 255, 1);
// $dark_background: rgba(43, 67, 112, 1);
// $gray_background: rgba(235, 236, 240, 1);
// $blue_background:  rgba(153, 202, 248, 1);

// $dark_border:rgba(43, 67, 112, 1);
// $gray_border:rgba(105, 105, 105, 0.3);

// $light_input: rgba(255, 255, 255, 1);
// $gray_input: rgba(250, 250, 250, 1);