@import '@/styles/colors.scss';


.container_monitor {
    width: -webkit-fill-available;
    min-width: fit-content;
    height: fit-content;
    min-height: -webkit-fill-available;
    padding: 10px;
    background-color: $second_body_background_color;
    padding: 10px 10px;
    // color: $third_text_color;
}

.resources_container_catalog {
    padding: 10px 15px;
    cursor: pointer;
}

.monitor_container_navigation {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 10px 0;
}

/* //////////////////// */
// .resources_container {
//     display: flex;
//     flex-direction: row;
//     height: 100%;
//     width: 100%;
//     // overflow: auto;
//     /* Добавьте прокрутку только если необходимо */
// }

// /* //////////////////// */
// .resources_container_left {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     min-width: 200px;
//     border-right: 2px solid rgb(0, 0, 0);
//     height: 100%;
//     // background: antiquewhite;
//     position: sticky;
//     top: 0;
//     /* Устанавливаем, чтобы оставался вверху окна при прокрутке */
//     left: 0;
//     /* Устанавливаем прилипание к левому краю */
//     z-index: 10;
//     overflow: auto;
// }

// /* //////////////////// */
// .resources_container_right {
//     display: flex;
//     height: 100%;
//     overflow: auto;
//     width: 100%;
// }



// .contaitainer_catalog {
//     // background-color: azure;
//     margin: 10px;
//     width: 100%;
// }

.catalog_title {
    font-size: $header2_font_size;
    padding: 5px;
    font-weight: bold;
    color: $third_text_color;
}

.monitor_container {
    display: inline-flex;
}