@import '@/styles/colors.scss';


.container_monitor {
    width: -webkit-fill-available;
    min-width: fit-content;
    height: fit-content;
    min-height: -webkit-fill-available;
    padding: 10px;
    background-color: $second_body_background_color;
    padding: 10px 10px;
    // color: $third_text_color;
}

.resources_container_catalog {
    padding: 10px 15px;
    cursor: pointer;
}
.monitor_container_catalog {
    padding: 10px 15px;
    cursor: pointer;
    width: 199px;
}

.monitor_container_navigation {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 10px 0;
}

.catalog_title {
    font-size: $header2_font_size;
    padding: 5px;
    font-weight: bold;
    color: $third_text_color;
}

.monitor_container {    
     display: flex;
    flex-wrap: wrap;
}

.current_day {
    font-size: $header2_font_size;
    padding: 5px;
    font-weight: bold;
    color: $button1_background_color;
}