@import '@/styles/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

// .type_select {
//     // flex: 1; /* Каждый элемент занимает равное пространство */
//     padding: 1px; /* Внутренние отступы для инпута */
//     border: 1px solid #ccc; /* Серая граница */
//     border-radius: 4px; /* Скругленные углы */
//     font-size: 12px; /* Размер шрифта */
//     font-weight: bold; /* Жирный текст для кода */
//     width: 200px; /* Ширина компонента */
//     background-color: #fff; /* Белый фон для выпадающего списка */
//     color: #333; /* Цвет текста */
//     // margin: 10px;
//     border-radius: 5px;
//     // padding: 5px;
//     border: 1px solid rgb(204, 204, 204);
// }
// .type_select_placeholder {
//     padding: 1px; /* Внутренние отступы для инпута */
//    border: 1px solid #ccc; /* Серая граница */
//    border-radius: 4px; /* Скругленные углы */
//    font-size: 12px; /* Размер шрифта */    
//    width: 200px; /* Ширина компонента */
//    background-color: #fff; /* Белый фон для выпадающего списка */
//    // color: #333; /* Цвет текста */    
//    border-radius: 5px;
//    border: 1px solid rgb(204, 204, 204);   
//    color: gray;  /* Цвет текста плейсхолдера */
//    font-style: italic;  /* Применяем курсив к плейсхолдеру */  

// }
// /* Цвет фона и границы при фокусе */
// .type_select:focus {
//     // border-color: #007bff; /* Синий цвет границы при фокусе */
//     outline: none; /* Убираем стандартное выделение */
// }

// /* Стиль для опций выпадающего списка */
// .type_select option {
//     font-size: 12px; /* Размер шрифта для опций */
// }

// /* Чтобы применить тот же цвет границы и для выпадающего списка */
// .type_select {
//     border-color: #ccc; /* Цвет границы, как у инпута */
//     background-color: #fff; /* Белый фон для выпадающего списка */
// }

// /* Применение скругления для самого выпадающего списка */
// .type_select::-ms-expand {
//     display: none; /* Убираем стрелочку для IE */
// }
// .placeholder {
//     color: gray;  /* Цвет текста плейсхолдера */
//     font-style: italic;  /* Применяем курсив к плейсхолдеру */
//   } 

//   ......................

._select {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1px;
    // border: $border;
    border-radius: $border-radius;
    font-size: $header4_font_size;
    //font-weight: bold; 
    width: 200px;
    height: 16px;
    background-color: $background-color-select;
    color: $text_color_italic;
}

////////////////
.dropdownContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1px;
    border: $border;
    border-radius: $border-radius;
    font-size: $header4_font_size;
    //font-weight: bold; 
    width: 200px;
    background-color: $background-color-select;
    color: $text_color_italic;
    position: relative;
}

.select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background-color: white; // Белый фон
    // border-radius: $border-radius; // Скругление углов
    // padding:  0 5px;  // Отступы, похожие на input
    // border: $border; // Цвет границы (можно заменить переменной)
    // color: #333; // Цвет текста
    // font-size: $header4_font_size;
    cursor: pointer; // Курсор при наведении
    width: 100%; // Полная ширина контейнера
    // box-sizing: border-box; // Учет паддингов в ширине элемента
    // width: 105px;

    &:focus {
        outline: none; // Убираем стандартное выделение
        border-color: #adafb3; // Цвет границы при фокусе (можно изменить на нужный)
    }

    .arrow {
        font-size: 16px;
    }

    .selectedItem {
        flex-grow: 1; // Чтобы текст "Выберите статус" растягивался на доступную ширину
        overflow: hidden; // Чтобы длинные значения не выходили за пределы
        text-overflow: ellipsis; // Если значение слишком длинное, показываем "..."
    }
}

.selectContainer {
    position: relative;
}

.dropdownList {
    position: absolute;
    font-size: $header4_font_size;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border-radius: $border-radius;
    border: $border;
    z-index: 10;
    margin-top: 4px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdownItem {
    padding: 3px 5px;
    font-size: $header4_font_size;
    color: $text_color_italic;
    cursor: pointer;

    &:hover {
        background-color: $hoover;
    }

    &.selected {
        background-color: $button1_hover_background_color;

    }
}